.product-colors {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 25px;
}

.product-color {
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  font-size: 0;
  color: transparent;
}

.product-color + .product-color {
  margin-left: 13px;
}

.product-color--gray {
  background-color: var(--color-silver);
}

.product-color--blue {
  background-color: var(--color-danube);
}
.product-color--dark {
  background-color: var(--color-tundora);
}
.product-color--gray-light {
  background-color: var(--color-nobel);
}
