.menu {
  text-align: center;
  text-transform: uppercase;
}

.menu a:hover {
  text-decoration: underline;
}

.menu-item {
  margin-bottom: 29px;
}

.menu-item-title {}

.menu-item-link {
  font-weight: bold;
  font-family: var(--secondary-font-family);
}

.menu-item-link {
  color: var(--color-empreror);  
}

.menu-subitem-link {
  color: var(--color-scorpion);  
}

.menu-item.is-active .menu-item-link {
  position: relative;
}
.menu-item.is-active .menu-item-link::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 12px;
  width: 14px;
  height: 9px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNCA5Ij4gICAgPGcgZmlsbD0iI0ZGRiIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjkiIHg9IjMiIHJ4PSIxLjUiIHRyYW5zZm9ybT0icm90YXRlKC00NSA0LjUgNC41KSIvPiAgICAgICAgPHJlY3Qgd2lkdGg9IjMiIGhlaWdodD0iOSIgeD0iOCIgcng9IjEuNSIgdHJhbnNmb3JtPSJyb3RhdGUoNDcgOS41IDQuNSkiLz4gICAgPC9nPjwvc3ZnPg==');
}

.menu-item.is-active .menu-item-link,
.menu-item.is-active .menu-subitem-link {
  color: var(--color-white);
}

.menu-sublist {
  margin-top: 37px;
  margin-bottom: 56px;
}

.menu-subitem {
  margin-bottom: 26px;
}

.menu-subitem-link {}
