
.app-layout {
  display: grid;
  min-height: 100vh;
  grid-template-columns: var(--app-sidebar-width) auto;
}

.app-sidebar {
  padding-left: 22px;
  padding-right: 22px;
  background-color: var(--color-cod-gray);
}

.app-sidebar-header {
  padding-top: 34px;
}

.app-sidebar-main {
  padding-top: 151px;
}