:root {
  --base-font-size: 24px;
  --base-font-family: 'AndaleMono', Helvetica, Arial, sans-serif;

  --secondary-font-family: 'AvenirNext', Helvetica, Arial, sans-serif;

  --app-sidebar-width: 28.75%;
  --app-main-padding: 23px;

  --product-item-padding: 25px;

  --color-alto: #DCDCDC;
  --color-alto-dark: #D8D8D8;
  --color-athens-gray: #E8E8EA;
  --color-asphalt: #373737;
  --color-bon-jour: #EBEBEB;
  --color-blue-violet: #4949aa;
  --color-cod-gray: #0D0D0D;
  --color-cod-gray: #0E0E0E;
  --color-danube: #4D87CA;
  --color-dark-blue: #0C09BF;
  --color-dove-gray: #6E6E6E;
  --color-empreror: #2F2F2F;
  --color-gallery: #D7D7D7;
  --color-medium-purple: #966DD8;
  --color-mercury: #E3E3E3;
  --color-mercury-light: #E7E7E7;
  --color-mine-shaft: #393939;
  --color-nobel: #E0E0E0;
  --color-persimmon: #FF5C5C;
  --color-port-gore: #27275d;
  --color-royal-blue: #4D42F8;
  --color-scorpion: #3C3C3C;
  --color-silver: #C5C5C5;
  --color-silver-chalice: #C0C0C0;
  --color-tundora: #4A4A4A;
  --color-white: #FFFFFF;
  --color-wild-sand: #F4F4F4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
}

a,
a:hover {
  text-decoration: none;
}

.AppLayout {
  display: grid;
  min-height: 100vh;
  grid-template-columns: var(--app-sidebar-width) auto;
}

.AppSidebar {
  padding-left: 22px;
  padding-right: 22px;
  background-color: var(--color-cod-gray);
}

.AppSidebar-header {
  padding-top: 34px;
}

.AppSidebar-main {
  padding-top: 151px;
}

.Logo {
  margin-bottom: 18px;
  text-align: center;
}

.Logo-thumb {
  width: 76px;
  height: 76px;
  object-fit: contain;
}

.Search {
  position: relative;
}

.Search-label {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
}

.Search-icon {
  width: 28px;
  height: 30px;
}

.Search-input {
  padding: 10px 10px 10px 55px;
  width: 100%;
  height: 54px;
  box-sizing: border-box;
  background-color: transparent;
  color: var(--color-mine-shaft);
  border: none;
  border-bottom: 4px solid var(--color-asphalt);
  text-transform: uppercase;
  font-size: var(--base-font-size);
  font-weight: bold;
}

.Search-input:focus {
  outline: none;
  border-bottom-color: var(--color-alto);
}

.Menu {
  text-align: center;
  text-transform: uppercase;
}

.Menu-item {
  margin-bottom: 29px;
}

.Menu-itemTitle {}

.Menu-itemLink {
  font-weight: bold;
  font-family: var(--secondary-font-family);
}

.Menu-itemLink {
  color: var(--color-empreror);  
}

.Menu-subItemLink {
  color: var(--color-scorpion);  
}

.Menu-item.is-active .Menu-itemLink {
  position: relative;
}
.Menu-item.is-active .Menu-itemLink::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 12px;
  width: 14px;
  height: 9px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNCA5Ij4gICAgPGcgZmlsbD0iI0ZGRiIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjkiIHg9IjMiIHJ4PSIxLjUiIHRyYW5zZm9ybT0icm90YXRlKC00NSA0LjUgNC41KSIvPiAgICAgICAgPHJlY3Qgd2lkdGg9IjMiIGhlaWdodD0iOSIgeD0iOCIgcng9IjEuNSIgdHJhbnNmb3JtPSJyb3RhdGUoNDcgOS41IDQuNSkiLz4gICAgPC9nPjwvc3ZnPg==');
}

.Menu-item.is-active .Menu-itemLink,
.Menu-item.is-active .Menu-subItemLink {
  color: var(--color-white);
}

.Menu-subList {
  margin-top: 37px;
  margin-bottom: 56px;
}

.Menu-subItem {
  margin-bottom: 26px;
}

.Menu-subItemLink {}

.Filters {
  display: flex;
  align-items: center;
  padding: 11px var(--app-main-padding) 35px;
}

.Filters-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 29px;
  width: 55px;
  height: 55px;
  background-color: var(--color-bon-jour);
}

.Filters-group {
  display: flex;
  align-items: center;
}
.Filters-group + .Filters-group {
  margin-left: 72px;
}

.Filters-groupItem {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--color-gallery);
  cursor: pointer;
}

.Filters-groupItem.is-active {
  color: var(--color-royal-blue);
}

.Filters-groupItem + .Filters-groupItem {
  margin-left: 16px;
}

.Filters-groupItem,
.Filters-groupLabel {
  text-transform: uppercase;
  font-family: var(--secondary-font-family);
  font-weight: bold;
}

.Filters-groupLabel {
  color: var(--color-royal-blue);
}

.Products {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1  * var(--product-item-padding));
  padding-left: var(--app-main-padding);
  padding-right: var(--app-main-padding);
}

.Products-item {
  margin-bottom: 17px;
  margin-left: var(--product-item-padding);
  padding: 9px;
  flex: 0 0 calc(100% / 3 - var(--product-item-padding));
  width: calc(100% / 3 - var(--product-item-padding));
  background-color: var(--color-wild-sand);
}

.Products-itemCover {
  position: relative;
  margin-bottom: 12px;
  max-height: 193px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
}

.Products-itemCoverThumb {
  max-width: 100%;
  max-height: 100%;
}

.Products-itemLabel {
  position: absolute;
  top: 7px;
  right: 9px;
}

.Products-itemLink {
  display: block;
  padding: 23px 10px 27px;
  background-color: var(--color-white);
  color: var(--color-cod-gray);
  text-align: center;
  font-family: var(--secondary-font-family);
  font-weight: bold;
  text-transform: uppercase;
}

.Products-item.has-sale > .Products-itemLink {
  background-image: linear-gradient(107deg, var(--color-dark-blue), var(--color-medium-purple));
  color: var(--color-white);
}

.Label {
  display: inline-block;
  padding: 7px 20px 6px;
  background-color: var(--color-persimmon);
  color: var(--color-white);
  font-size: 14px;
  font-family: var(--secondary-font-family);
  font-weight: bold;
  text-transform: uppercase;
}

.Product {
  position: relative;
  padding: 20px var(--app-main-padding) 0;
  font-family: var(--secondary-font-family);
}

.Product-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  left: var(--app-main-padding);
  right: var(--app-main-padding);
}

.Product-headerCol {
  display: flex;
  flex-direction: column;
}

.Product-headerOptions {
  margin-top: 15px;
  align-items: flex-end;
}

.Product-title {
  margin: 0;
  padding: 0;
  line-height: 1.1;
  font-size: 64px;
  color: var(--color-mine-shaft);
}

.Product-save {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--color-mercury);
  font-size: 18px;
  color: var(--color-white);
  border: none;
  text-transform: uppercase;
}

.Product-price {
  margin: 27px 0 0;
  padding: 0;
  font-size: 80px;
  color: var(--color-mercury);
}

.Product-colors {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 25px;
}

.Product-color {
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  font-size: 0;
  color: transparent;
}

.Product-color + .Product-color {
  margin-left: 13px;
}

.Product-color--gray {
  background-color: var(--color-silver);
}

.Product-color--blue {
  background-color: var(--color-danube);
}
.Product-color--dark {
  background-color: var(--color-tundora);
}
.Product-color--gray-light {
  background-color: var(--color-nobel);
}

.Product-gallery {
  padding-top: 32px;
  margin-bottom: 33px;
}

.Product-galleryCover {
  max-height: 525px;
  text-align: center;
}

.Product-galleryImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.Product-galleryTumbs {
  display: flex;
  align-items: center;
}

.Product-galleryTumb {
  width: 148px;
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Product-galleryTumb + .Product-galleryTumb {
  margin-left: 2.3%;
}

.Product-galleryTumb.is-selected {
  box-shadow: 0 0 0 5px var(--color-athens-gray);
}

.Product-galleryMore {
  margin-left: 33px;
  padding: 0;
  font-size: 14px;
  font-weight: 100;
  color: var(--color-silver-chalice);
  text-align: left;
  background-color: transparent;
  border: none;
  white-space: nowrap;
}

.Product-galleryMore > svg {
  display: inline-block;
  vertical-align: middle;
  width: 159px;
  height: 15px;
  fill: var(--color-mercury-light);
}

.Product-galleryMore > span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 28px;
  width: 45px;
  white-space: normal;
}

.Product-description {
  margin-bottom: 31px;
  font-size: 33px;
  color: var(--color-alto-dark);
}

.Product-description p {
  margin: 0;
  padding: 0;
  line-height: 1.52;
}

.Product-description a {
  color: var(--color-dove-gray);
}

.Product-footer {
  margin-right: calc(-1  * var(--product-item-padding));
  margin-left: calc(-1  * var(--product-item-padding));
}

.Product-buy {
  display: block;
  padding: 36px 0;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to right, var(--color-blue-violet), var(--color-port-gore));
  border: none;
  color: var(--color-white);
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
}