:root {
  --base-font-size: 24px;
  --base-font-family: 'AndaleMono', Helvetica, Arial, sans-serif;

  --secondary-font-family: 'AvenirNext', Helvetica, Arial, sans-serif;

  --app-sidebar-width: 28.75%;
  --app-main-padding: 23px;

  --product-item-padding: 25px;

  --color-alto: #DCDCDC;
  --color-alto-dark: #D8D8D8;
  --color-athens-gray: #E8E8EA;
  --color-asphalt: #373737;
  --color-bon-jour: #EBEBEB;
  --color-blue-violet: #4949aa;
  --color-cod-gray: #0D0D0D;
  --color-cod-gray: #0E0E0E;
  --color-danube: #4D87CA;
  --color-dark-blue: #0C09BF;
  --color-dove-gray: #6E6E6E;
  --color-empreror: #2F2F2F;
  --color-gallery: #D7D7D7;
  --color-medium-purple: #966DD8;
  --color-mercury: #E3E3E3;
  --color-mercury-light: #E7E7E7;
  --color-mine-shaft: #393939;
  --color-nobel: #E0E0E0;
  --color-persimmon: #FF5C5C;
  --color-port-gore: #27275d;
  --color-royal-blue: #4D42F8;
  --color-scorpion: #3C3C3C;
  --color-silver: #C5C5C5;
  --color-silver-chalice: #C0C0C0;
  --color-tundora: #4A4A4A;
  --color-white: #FFFFFF;
  --color-wild-sand: #F4F4F4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
}

a,
a:hover {
  text-decoration: none;
}

.app-layout {
  display: grid;
  min-height: 100vh;
  grid-template-columns: var(--app-sidebar-width) auto;
}

.app-sidebar {
  padding-left: 22px;
  padding-right: 22px;
  background-color: var(--color-cod-gray);
}

.app-sidebar-header {
  padding-top: 34px;
}

.app-sidebar-main {
  padding-top: 151px;
}

.logo {
  margin-bottom: 18px;
  text-align: center;
}

.logo-thumb {
  width: 76px;
  height: 76px;
  object-fit: contain;
}

.search {
  position: relative;
}

.search-label {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
}

.search-icon {
  width: 28px;
  height: 30px;
}

.search-input {
  padding: 10px 10px 10px 55px;
  width: 100%;
  height: 54px;
  box-sizing: border-box;
  background-color: transparent;
  color: var(--color-mine-shaft);
  border: none;
  border-bottom: 4px solid var(--color-asphalt);
  text-transform: uppercase;
  font-size: var(--base-font-size);
  font-weight: bold;
}

.search-input:focus {
  outline: none;
  border-bottom-color: var(--color-alto);
}

.menu {
  text-align: center;
  text-transform: uppercase;
}

.menu a:hover {
  text-decoration: underline;
}

.menu-item {
  margin-bottom: 29px;
}

.menu-item-title {}

.menu-item-link {
  font-weight: bold;
  font-family: var(--secondary-font-family);
}

.menu-item-link {
  color: var(--color-empreror);  
}

.menu-subitem-link {
  color: var(--color-scorpion);  
}

.menu-item.is-active .menu-item-link {
  position: relative;
}
.menu-item.is-active .menu-item-link::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 12px;
  width: 14px;
  height: 9px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNCA5Ij4gICAgPGcgZmlsbD0iI0ZGRiIgZmlsbC1ydWxlPSJldmVub2RkIj4gICAgICAgIDxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjkiIHg9IjMiIHJ4PSIxLjUiIHRyYW5zZm9ybT0icm90YXRlKC00NSA0LjUgNC41KSIvPiAgICAgICAgPHJlY3Qgd2lkdGg9IjMiIGhlaWdodD0iOSIgeD0iOCIgcng9IjEuNSIgdHJhbnNmb3JtPSJyb3RhdGUoNDcgOS41IDQuNSkiLz4gICAgPC9nPjwvc3ZnPg==');
}

.menu-item.is-active .menu-item-link,
.menu-item.is-active .menu-subitem-link {
  color: var(--color-white);
}

.menu-sublist {
  margin-top: 37px;
  margin-bottom: 56px;
}

.menu-subitem {
  margin-bottom: 26px;
}

.menu-subitem-link {}

.filters {
  display: flex;
  align-items: center;
  padding: 11px var(--app-main-padding) 35px;
}

.filters-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 29px;
  width: 55px;
  height: 55px;
  background-color: var(--color-bon-jour);
}

.filters-group {
  display: flex;
  align-items: center;
}
.filters-group + .filters-group {
  margin-left: 72px;
}

.filters-group-item {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--color-gallery);
  cursor: pointer;
}

.filters-group-item:hover {
  color: var(--color-blue-violet);
}

.filters-group-item.is-active {
  color: var(--color-royal-blue);
}

.filters-group-item + .filters-group-item {
  margin-left: 16px;
}

.filters-group-item,
.filters-group-label {
  text-transform: uppercase;
  font-family: var(--secondary-font-family);
  font-weight: bold;
}

.filters-group-label {
  margin-right: 18px;
  color: var(--color-royal-blue);
}

.products {
  display: flex;
  flex-wrap: wrap;
  padding-left: var(--app-main-padding);
  padding-right: var(--app-main-padding);
}

.products-item {
  margin-bottom: 17px;
  padding: 9px;
  background-color: var(--color-wild-sand);
}

.products-item-cover {
  position: relative;
  margin-bottom: 12px;
  max-height: 193px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
}

.products-item-cover-thumb {
  max-width: 100%;
  max-height: 100%;
}

.products-item-label {
  position: absolute;
  top: 7px;
  right: 9px;
}

.products-item-link {
  display: block;
  padding: 23px 10px 27px;
  background-color: var(--color-white);
  color: var(--color-cod-gray);
  text-align: center;
  font-family: var(--secondary-font-family);
  font-weight: bold;
  text-transform: uppercase;
}

.products-item.has-sale > .products-item-link {
  background-image: linear-gradient(107deg, var(--color-dark-blue), var(--color-medium-purple));
  color: var(--color-white);
}

.label {
  display: inline-block;
  padding: 7px 20px 6px;
  background-color: var(--color-persimmon);
  color: var(--color-white);
  font-size: 14px;
  font-family: var(--secondary-font-family);
  font-weight: bold;
  text-transform: uppercase;
}

.product {
  position: relative;
  padding: 20px var(--app-main-padding) 0;
  font-family: var(--secondary-font-family);
}

.product-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  left: var(--app-main-padding);
  right: var(--app-main-padding);
}

.product-header-col {
  display: flex;
  flex-direction: column;
}

.product-header-options {
  margin-top: 15px;
  align-items: flex-end;
}

.product-title {
  margin: 0;
  padding: 0;
  line-height: 1.1;
  font-size: 64px;
  color: var(--color-mine-shaft);
}

.product-save {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--color-mercury);
  font-size: 18px;
  color: var(--color-white);
  border: none;
  text-transform: uppercase;
}

.product-price {
  margin: 27px 0 0;
  padding: 0;
  font-size: 80px;
  color: var(--color-mercury);
}

.product-colors {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 25px;
}

.product-color {
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  font-size: 0;
  color: transparent;
}

.product-color + .product-color {
  margin-left: 13px;
}

.product-color--gray {
  background-color: var(--color-silver);
}

.product-color--blue {
  background-color: var(--color-danube);
}
.product-color--dark {
  background-color: var(--color-tundora);
}
.product-color--gray-light {
  background-color: var(--color-nobel);
}

.product-gallery {
  padding-top: 32px;
  margin-bottom: 33px;
}

.product-gallery-cover {
  max-height: 525px;
  text-align: center;
}

.product-gallery-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-gallery-tumbs {
  display: flex;
  align-items: center;
}

.product-gallery-tumb {
  width: 148px;
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.product-gallery-tumb + .product-gallery-tumb {
  margin-left: 2.3%;
}

.product-gallery-tumb.is-selected {
  box-shadow: 0 0 0 5px var(--color-athens-gray);
}

.product-gallery-more {
  margin-left: 33px;
  padding: 0;
  font-size: 14px;
  font-weight: 100;
  color: var(--color-silver-chalice);
  text-align: left;
  background-color: transparent;
  border: none;
  white-space: nowrap;
}

.product-gallery-more > svg {
  display: inline-block;
  vertical-align: middle;
  width: 159px;
  height: 15px;
  fill: var(--color-mercury-light);
}

.product-gallery-more > span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 28px;
  width: 45px;
  white-space: normal;
}

.product-description {
  margin-bottom: 31px;
  font-size: 33px;
  color: var(--color-alto-dark);
}

.product-description p {
  margin: 0;
  padding: 0;
  line-height: 1.52;
}

.product-description a {
  color: var(--color-dove-gray);
}

.product-footer {
  margin-right: calc(-1  * var(--product-item-padding));
  margin-left: calc(-1  * var(--product-item-padding));
}

.product-buy {
  display: block;
  padding: 36px 0;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to right, var(--color-blue-violet), var(--color-port-gore));
  border: none;
  color: var(--color-white);
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
}