.filters {
  display: flex;
  align-items: center;
  padding: 11px var(--app-main-padding) 35px;
}

.filters-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 29px;
  width: 55px;
  height: 55px;
  background-color: var(--color-bon-jour);
}

.filters-icon-thumb {
  width: 40px;
  height: 33px;
}

.filters-group {
  display: flex;
  align-items: center;
}
.filters-group + .filters-group {
  margin-left: 72px;
}

.filters-group-item {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--color-gallery);
  cursor: pointer;
}

.filters-group-item:hover {
  color: var(--color-blue-violet);
}

.filters-group-item.is-active {
  color: var(--color-royal-blue);
}

.filters-group-item + .filters-group-item {
  margin-left: 16px;
}

.filters-group-item,
.filters-group-label {
  text-transform: uppercase;
  font-family: var(--secondary-font-family);
  font-weight: bold;
}

.filters-group-label {
  margin-right: 18px;
  color: var(--color-royal-blue);
}
