:root {
  --base-font-size: 24px;
  --base-font-family: 'AndaleMono', Helvetica, Arial, sans-serif;
  --secondary-font-family: 'AvenirNext', Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
}

a,
a:hover {
  text-decoration: none;
}